name = "korea-travel"
main = ".open-next/worker.js"
compatibility_date = "2026-02-13"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[observability]
enabled = true
